html {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.button {
    border: none;
    background-color: rgb(138, 137, 137);
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    border-radius: 3px;
    transition-duration: 0.4s;
    width: 100%;
}

.button:hover {
    background-color: rgb(78, 78, 78);
}


/* Header */


header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
}


#header {
    display: flex;
    background-color: white;
    padding: 0 24px;
    height: 64px;
    align-items: center;
}

.logo {
    display: inline-flex;
    align-items: center;
    flex: 1;
}

#logo {
    height: 3rem;
    width: auto;
}

h2 {
    font-weight: 800;
    padding: 0;
    margin: 0;
    color: rgb(48, 48, 48);
}

h2 span {
    font-weight: 400;
    color: darkgray;
}

header ul {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

header ul li {
    padding-left: 16px;
    font-size: 1rem;
}

.body {
    position: relative;
    top: 62px;
}


/* Banner */


.banner {
    
    display: flex;
    background-color: lightgray;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#banner {
    width: 60%;
    padding: 32px 24px;
}

.banner1 {
    align-self: center;
}

.banner-text {
    width: 70%;
    padding: 10%;
}


/* Content */


.content {
    display: flex;
    width: 100%;
}

.content1 {
    width: 60%;
    padding: 32px 24px;
    border-right: 1px solid gray;
}

.content1 img {
  width: 100%;
  height: auto;
  padding-bottom: 32px;
}



.content2 {   
    width: 40%;
}

.list img {
    width: 35%;
}

.list-text {
    width: 65%;
}